.hidden {
  display: none;
}
#positionBar {
  height: 20px;
  color: white;
  font-weight: bold;
  background: steelblue;
  text-align: center;
}

#durationBar {
  border: solid 1px black;
  width: 1200px;
  margin-bottom: 5px;
}

#displayStatus {
  color: rgb(4, 0, 228);
}
